/* Use this stylesheet for layout styles only. */
#skip-link {
	display: none;
}
#logo {
	display: none;
}
#page {
	width: 980px;
    margin-left: auto;
    margin-right: auto;
}
#header {
	margin: 0 0 0 30px;
	padding: 10px 0 0 0;
	height: 115px;
}
div#site-name {
	width: 277px;
	height: 104px;
	float: left;
}
div#site-slogan {
	margin: 0 0 0 285px;
	padding: 59px 0 0 0;
}
div#header-region {
	clear: both;
	position: absolute;
	width: 800px;
}
div#header-region div.region-header {
	position: relative;
	top: 35px;
	width: 800px;
}

div#highlight {
	margin: 0 0 0 3px;
}
div#highlight div.content {
	padding: 0;
}

div#block-menu-menu-topmenu, div#block-search-form {
	float: right;
}
div#main {
	clear: both;
}
div#content-header {
	padding-top: 140px;
}
div.has-secondary div#content-header {
	padding-top: 170px;
}
div.content-header-with-sidebar {
	margin-left: 200px;
}
div.content-header-with-sidebar div.tabs {
	width: 600px;
}
div#content {
	margin: 0 140px 0 30px;
}
div.content-with-sidebar {
	margin-left: 200px;
}
div#main-content {
	clear: both;
	margin: 15px 0 0 3px;
}
div.main-content-footer {
	padding: 30px 0 0 0;
}
div.sidebar-images {
	float: left;
	width: 195px;
}
div.sidebar-images div.sidebar-images-container {
	position: relative;
	width: 190px;
	top: -3em;
}
div.fullwidth-images {
	margin: 10px 0 0 5px;
	width: 594px;
}
div.fullwidth-images-with-sidebar {
	clear: right;
}
div.group_pagelinks {
	float: right;
	width: 200px;
	margin: 0 0 20px 0;
}

div#footer {
	height: 125px;
	margin: 0 0 20px 0;
}
div#footer div#block-block-1 {
	float: right;
	margin: 15px 20px 0 0;
}
div#footer div#block-menu-menu-loginmenu {
	float: right;
	margin: 15px 0 0 0;
}
div#footer div#block-menu-menu-footermenu {
	float: right;
	margin: 15px 30px 5px 0;
}
div#footer div#block-menu-menu-legalmenu {
	clear: both;
}
div#footer div#block-menu-menu-legalmenu .block-inner {
	float: right;
	margin: 0 142px 0 0;
}
div#footer div.content {
	padding: 0;
}

div#navigation {
	position: absolute;
	top: 195px;
	width: 900px;
}


/* Homepage styles */
.node-type-homepage div#content-header {
	padding-top: 0px;
	height: 53px;
}
.node-type-homepage div#navigation {
	display: none;
}
.node-type-homepage div#main-content {
	margin: 30px 0 0 0;
}

.node-type-homepage div.homepage-sections {
	width: 800px;
	padding: 0;
	margin: 0;
	height: 200px;
}
.node-type-homepage div.homepage-section {
	float: left;
	width: 200px;
	height: 199px;
}
.node-type-homepage div.homepage-section div.section-wrapper {
	position: absolute;
	width: 200px;
	height: 199px;
}
.node-type-homepage div.homepage-section div.section-link {
	position: absolute;
	width: 200px;
	height: 199px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.node-type-homepage div.homepage-section div.section-info {
	height: 199px;
}
.node-type-homepage div.section-info div.wrapper {
	margin: 0px 10px 0px 10px;
	padding: 0px;
	height: 135px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Content pages */
.page-contact h1#page-title {
	display: none;
}


/* Fix for admin toolbar */
body.toolbar-drawer {
	padding-top: 2em!important;
}